.main {
  display: grid;
  gap: 3rem;
}

.container {
  display: grid;
  gap: 2rem;
}

.alert {
  margin-bottom: 1rem;
}

.tasks {
  border-radius: 0.25rem;
  border: 1px solid #e5e7eb;
  background-color: #fff;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.table tbody td {
  white-space: nowrap;
}

.conclusaoButton {
  margin-left: 0.5rem;
}

.excluirButton {
  margin-left: 0.5rem;
}

.modalContainer {
  max-width: 768px;
}
