.checkbox {
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.checkbox:focus {
  outline-color: transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #111827;
}

.checkbox:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
